<html ng-app="myApp2">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/myController.js"></script>
</head>

<body ng-controller = "myController as ctrl">
    <h1>Ex 2 : Services</h1>
        Liste :<br/><br/>

        <div ng-repeat="service in ctrl.services">
            &nbsp&nbsp&nbsp<input type="button" class="{{ctrl.etatButton}}" ng-click="{{ctrl.toggleActive(service)}}" value="{{service.name}} {{service.price}}€">
        </div>

    </body>
</html>