<html ng-app="myApp">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/app.js"> </script>
    <script src="js/myController.js"></script>
</head>

<body ng-controller = "myController as ctrl">
    <h1>Ex 1 : Note Application</h1>
    Note :<br/>

    <textarea ng-model="ctrl.messageNote" ng-change="val=false" maxlength="100" ng-bind="{{ctrl.clear()}}">
    </textarea>

    <br>
    <button type="button" class="btn btn-primary" ng-click="val=true" ng-init="val=true"> Enregistrer </button>
    <button type="button" class="btn btn-primary" ng-click="clear()"> Effacer </button>


    <br>
    <div class="alert alert-{{ctrl.color()}}">
    Nombre de caractères restants : {{ctrl.count()}}
    </div>

    <br>
    <div class="alert alert-success" ng-show="val">
        Sauvegardée
    </div>
    <div class="alert alert-warning" ng-hide="val">
        Modifiée
    </div>



</body>
</html>